<div class="col-md-12" id="agreement">
	<md-content layout-padding style="padding: 24px;">
		<h2>Agreement</h2>
		<div class="well">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
			tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
			quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
			consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
			cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
			proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
		</div>
		<div class="text-center">
			<md-checkbox ng-model="iAgree" aria-label="I Agree">
		      	I agree Lorem ipsum dolor sit amet.
		    </md-checkbox>
		    <md-button class="md-raised md-primary" ng-click="confirmAgreement()">I Agree</md-button>
		</div>
	</md-content>
</div>