<div class="col-md-12" id="listingForm">
	<md-content layout-padding style="padding: 24px;" ng-hide="searchResult.length">
		<h2>Listing Detail</h2>
		<form name="business">
			<div class="row">
				<div class="col-md-6 col-sm-12">
					<md-input-container>
				      	<label>Title</label>
				      	<input ng-model="user.title">
				    </md-input-container>
				</div>
				<div class="col-md-6 col-sm-12">
					<md-input-container>
				      	<label>Title</label>
				      	<input ng-model="user.title">
				    </md-input-container>
				</div>
				<div class="col-md-6 col-sm-12">
					<md-input-container>
				      	<label>Title</label>
				      	<input ng-model="user.title">
				    </md-input-container>
				</div>
				<div class="col-md-6 col-sm-12">
					<md-input-container>
				      	<label>Title</label>
				      	<input ng-model="user.title">
				    </md-input-container>
				</div>
			</div>
		</form>
	</md-content>
</div>