<div class="col-md-12" id="loginForm">
	<md-content layout-padding style="padding: 24px;">
		<div class="row">
			<div class="col-md-6 col-sm-12">
				<form id="userLogin" name="loginForm">
					<h3>Please Login</h3>
					<md-input-container>
						<label>Email</label>
						<input type="text" name="email" ng-model="login.email" required>
						<div ng-messages="loginForm.email.$error">
				          	<div ng-message="required">Please input your valid email address.</div>
				        </div>
					</md-input-container>
					<md-input-container>
						<label>Password</label>
						<input type="text" name="password" ng-model="login.password" required>
						<div ng-messages="loginForm.password.$error">
				          	<div ng-message="required">This field is required.</div>
				        </div>
					</md-input-container>
					<md-input-container style="margin-top: 25px;">
						<md-button type="submit" class="md-raised md-primary">Login</md-button>
					</md-input-container>
				</form>
			</div>
			<div class="col-md-6 col-sm-12">
				<form id="userLogin" name="registerForm" style="border: 1px solid #ddd; padding: 15px;">
					<h3>Don't have an account ?</h3>
					<md-input-container>
						<label>First Name</label>
						<input type="text" ng-model="register.first_name" required>
					</md-input-container>
					<md-input-container>
						<label>Last Name</label>
						<input type="text" ng-model="register.last_name" required>
					</md-input-container>
					<md-input-container>
						<label>Email</label>
						<input type="text" ng-model="register.email" required>
					</md-input-container>
					<md-input-container>
						<label>Password</label>
						<input type="text" ng-model="register.password" required>
					</md-input-container>
					<md-input-container>
						<label>Password Confirmation</label>
						<input type="text" ng-model="register.passwordc" required>
					</md-input-container>
					<md-input-container style="margin-top: 25px;">
						<md-button type="submit" class="md-raised md-primary">Register</md-button>
					</md-input-container>
				</form>
			</div>
		</div>
	</md-content>
</div>