<section>
	<md-toolbar class="md-primary">
		<div class="container">
			<div class="row">
				<div class="col-md-4 col-sm-12">
					<h1 class="md-toolbar-tools">
						New Listing Request
					</h1>
				</div>
				<div class="col-md-8 col-sm-12">
					<ng-include src="'public/app/views/static/search-header.html'"></ng-include>
				</div>
			</div>
		</div>
	</md-toolbar>
	<div class="container">
		<div class="row">
			<div class="col-md-12" >
				<md-content layout-padding style="padding: 24px;" id="agreement" ng-hide="getAgreement()">
					<h2>Agreement</h2>
					<div class="well">
						Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
						tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
						quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
						consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
						cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
						proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
					</div>
					<div class="text-center">
						<md-checkbox ng-model="iAgree" aria-label="I Agree">
					      	I agree Lorem ipsum dolor sit amet.
					    </md-checkbox>
					    <md-button class="md-raised md-primary" ng-click="confirmAgreement()">I Agree</md-button>
					</div>
				</md-content>
			</div>
			<div class="col-md-8 col-sm-12"  ng-show="getAgreement() && !submitSuccess">
				<md-content layout-padding style="padding: 24px;" id="loginForm">
					<div class="row">
						<div class="col-md-12 col-sm-12">
							<div class="loading-wrapper" ng-show="progress">
								<md-progress-circular md-mode="indeterminate" style="margin: auto;"></md-progress-circular>
							</div>
							<form id="newListing" ng-submit="submitListing()" ng-hide="progress">
								<div class="form-group">
									<label>Business Name</label>
									<input required class="form-control" type="text" ng-model="listing.name" placeholder="Your business name">
								</div>
								<div class="form-group">
									<label>Category</label>
									<md-autocomplete 
										md-selected-item="listing.category" 
										md-search-text="searchCategory" 
										md-items="item in getCategory(searchCategory)"
										md-delay="500"
										md-item-text="item.value" 
										placeholder="Enter Business type or name" 
										md-min-length="2" 
										md-autoselect="true"
									>
									  	<span md-highlight-text="searchCategory">{{item.value}}</span>
									</md-autocomplete>
								</div>
								<div class="form-group">
									<label>Description</label>
									<input required class="form-control" type="text" ng-model="listing.description" placeholder="Business description">
								</div>
								<div class="form-group">
									<label>Street Address</label>
									<input required class="form-control" type="text" ng-model="listing.address" placeholder="Business address">
								</div>
								<div class="form-group">
									<label>City & Country</label>
									<md-autocomplete 
									md-selected-item="listing.location" 
									md-search-text="searchText" 
									md-items="item in getLocation(searchText)"
									md-delay="500"
									md-item-text="item.value" 
									placeholder="Enter Business type or name" 
									md-min-length="2" 
									md-autoselect="true"
								>
								  	<span md-highlight-text="searchText">{{item.value}}</span>
								</md-autocomplete>
								</div>
								<div class="form-group">
									<label>Phone</label>
									<input required class="form-control" type="text" ng-model="listing.phone" placeholder="Your business phone number">
								</div>
								<div class="form-group">
									<label>Website</label>
									<input required class="form-control" type="text" ng-model="listing.website" placeholder="eg. www.google.com">
								</div>
								<div class="form-group">
									<label>Image</label>
									<input required class="form-control" type="file" file-upload>
								</div>
								<md-button class="md-raised md-primary">Save</md-button>
							</form>
						</div>
					</div>
				</md-content>
			</div>
			<div class="col-md-8 col-sm-12"  ng-show="submitSuccess">
				<md-content layout-padding style="padding: 24px;">
					<div class="alert alert-success">
						You're listing has been submited.
						<a href="#" ng-click="submitAnother()" class="btn-btn-primary">Submit another listing ?</a>
					</div>
				</md-content>
			</div>
		</div>
	</div>
</section>