<md-card ng-repeat="(key, value) in listings.results" ng-show="listings.count >= 1" class="nomargin">
	<md-card-content>
	<div class="media">
		<div class="media-left">
			<a href="#">
				<img class="media-object" src="/{{ value.business.photo }}" alt="...">
			</a>
		</div>
		<div class="media-body search-result-body">
			<a href="#">
				<h2 class="media-heading">{{ value.business.name }}</h2>
			</a>
			<p class="description">{{ value.business.description }}</p>
			<span class="location"><i class="fa fa-map-marker fa-lg"></i> {{ value.business.address }}</span>
			<hr class="divider">
				<div class="row">
					<div class="col-md-12">
						<a href="phone:{{ value.business.phone }}" class="btn btn-primary"  ng-show="value.business.phone">
							<i class="fa fa-phone fa-lg"></i> Phone	
						</a>
						<a href="mailto:{{ value.business.email }}" class="btn btn-primary"  ng-show="value.business.email">
							<i class="fa fa-envelope fa-lg"></i> Email
						</a>
						<a href="http://{{ value.business.website }}" target="_blank" rel="nofollow" class="btn btn-primary" ng-show="value.business.website">
							<i class="fa fa-globe fa-lg"></i> Website
						</a>
					</div>
				</div>
			</hr>
		</div>
	</div>
	</md-card-content>
</md-card>

<div class="alert alert-danger no-result text-center" ng-hide="listings.count >= 1">
	<strong>Oops!</strong> No result were found.
</div>
<div class="alert alert-info no-result text-center" ng-hide="listings.count >= 1">
	Want your business listed on our site ? <button ui-sref="root.listing.new" class="btn btn-primary">Add new listing</button>
</div>