<div class="section">
	<div class="container">
		<div class="main-logo">
			<a href="/">
				<img src="public/app/assets/img/local-suburb.png">
			</a>
		</div>
		<div class="directory-search">
			<div class="row">
				<div class="col-md-9 col-md-offset-1 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-6 col-sm-12 col-xs-12">
							<md-autocomplete 
								md-selected-item="selectedItem" 
								md-search-text="searchText" 
								md-items="item in querySearch(searchText)"
								md-delay="500"
								md-item-text="item.value" 
								placeholder="Enter Business type or name" 
								md-min-length="2" 
								md-autoselect="true"
								required>
							  	<span md-highlight-text="searchText">{{item.value}}</span>
							</md-autocomplete>
						</div>
						<div class="col-md-6 col-sm-12 col-xs-12">
							<md-autocomplete 
								md-selected-item="selectedPlace" 
								md-search-text="placeSearch" 
								md-items="place in findCity(placeSearch)" 
								md-item-text="place.value"
								md-delay="500" 
								placeholder="Enter City or State" 
								md-min-length="2" 
								md-autoselect="true"
								required>
							  	<span md-highlight-text="placeSearch">{{place.value}}</span>
							</md-autocomplete>
						</div>
					</div>
				</div>
				<div class="col-md-1 col-sm-12 col-xs-12">
					<md-button class="md-raised md-primary btn-search" ng-click="submitSearch($event)" aria-label="btnSearch">
						<i class="fa fa-search"></i>
					</md-button>
				</div>
			</div>
		</div>
	</div>
</div>