<div class="section">
	<div class="container">
		<div class="directory-search" ng-controller="IndexController">
			<div class="row">
				<div class="col-md-9 col-md-offset-1 col-sm-12 col-xs-12">
					<div class="row">
						<div class="col-md-6 col-sm-12 col-xs-12">
							<md-autocomplete md-selected-item="selectedItem" md-search-text="searchText" md-items="item in querySearch(searchText)" md-item-text="item.value" placeholder="Enter Business type or name">
							  	<span md-highlight-text="searchText">{{item.value}}</span>
							</md-autocomplete>
						</div>
						<div class="col-md-6 col-sm-12 col-xs-12">
							<md-autocomplete md-selected-item="selectedPlace" md-search-text="placeSearch" md-items="place in findCity(placeSearch)" md-item-text="place.value" md-delay="500" placeholder="Enter City or State">
							  	<span md-highlight-text="placeSearch">{{place.value}}</span>
							</md-autocomplete>
						</div>
					</div>
				</div>
				<div class="col-md-1 col-sm-12 col-xs-12">
					<md-button class="md-raised md-primary btn-search" ng-click="submitSearch()" aria-label="btnSearch">
						<i class="fa fa-search"></i>
					</md-button>
				</div>
			</div>
		</div>
	</div>
</div>