<!-- <ng-include src="'app/views/index-no-header.html'"></ng-include> -->
<section>
	<md-toolbar class="md-primary">
		<div class="container">
			<div class="row">
				<div class="col-md-4">
					<h1 class="md-toolbar-tools">
						Search Result
					</h1>
				</div>
				<div class="col-md-8">
					<ng-include src="'public/app/views/static/search-header.html'"></ng-include>
				</div>
			</div>
		</div>
	</md-toolbar>
	<div class="container">
		<div class="row">
			<div class="col-md-8" ng-hide="listings.error === 0">
				<div class="loading-wrapper" style="padding-top: 50px;">
					<md-progress-circular md-mode="indeterminate" style="margin: auto;"></md-progress-circular>
				</div>
			</div>
			<div class="col-md-8" ng-show="listings.error === 0">
				<ng-include src="'public/app/views/search/result.html'"></ng-include>
			</div>
			<div class="col-md-4">
				<!-- <md-card ng-repeat="(key, value) in [1,2]" class="nomargin">
					<img src="http://lorempixel.com/800/400">
					<md-card-content>
						Ads Here!
					</md-card-content>
				</md-card> -->
			</div>
		</div>
	</div>
</section>