<header ng-controller="BaseController" class="mainHeader">
	<nav class="navbar navbar-default">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" ui-sref="root.index">
					<img src="public/app/assets/img/local-suburb-top-left.png">
				</a>
				<button class="navbar-toggle collapsed" type="button" data-toggle="collapse" data-target="#mainnav">
			        <span class="sr-only">Toggle navigation</span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			        <span class="icon-bar"></span>
			    </button>
			</div>
			<div id="mainnav" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li>
						<a ui-sref="root.listing">New Listing</a>
					</li>
					<li ng-hide="isLoggedIn()">
						<a ui-sref="root.login">Login</a>
					</li>
					<li ng-hide="isLoggedIn()">
						<a ui-sref="root.register">Register</a>
					</li>
					<li ng-show="isLoggedIn()">
						<a href="#" ng-click="logout()">Logout</a>
					</li>
					<!-- <li><a href="#">Sign Up</a></li>
					<li class="dropdown">
						<a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Sign In <span class="caret"></span></a>
						<ul class="dropdown-menu" role="menu">
							<li><a ui-sref="root.index">Not yet!</a></li>
						</ul>
					</li> -->
				</ul>
			</div>
		</div>
	</nav>
</header>