<div class="row" ng-controller="IndexController" style="margin-top: 10px; color: #000;">
	<div class="col-md-5 col-sm-12 col-xs-12">
		<md-autocomplete 
			md-selected-item="selectedItem" 
			md-search-text="searchText" 
			md-items="item in querySearch(searchText)"
			md-delay="500"
			md-item-text="item.value" 
			placeholder="Enter Business type or name" 
			md-min-length="2" 
			md-autoselect="true"
			required>
		  	<span md-highlight-text="searchText">{{item.value}}</span>
		</md-autocomplete>
	</div>
	<div class="col-md-5 col-sm-12 col-xs-12">
		<md-autocomplete 
			md-selected-item="selectedPlace" 
			md-search-text="placeSearch" 
			md-items="place in findCity(placeSearch)" 
			md-item-text="place.value"
			md-delay="500" 
			placeholder="Enter City or State" 
			md-min-length="2" 
			md-autoselect="true"
			required>
		  	<span md-highlight-text="placeSearch">{{place.value}}</span>
		</md-autocomplete>
	</div>
	<div class="col-md-2 col-sm-12 col-xs-12">
		<md-button class="md-raised md-warn btn-search" ng-click="submitSearch()" aria-label="btnSearch">
			<i class="fa fa-search"></i>
		</md-button>
	</div>
</div>