@mixin padding-top-bottom($padding) {
	padding-top: $padding;
	padding-bottom: $padding;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
     -moz-border-radius: $radius;
      -ms-border-radius: $radius;
          border-radius: $radius;
}