.navbar {
	&.navbar-default {
		margin-bottom: 0px;
	}
}

.navbar-nav {
	li {
		a {
			@include padding-top-bottom(15px);
		}
	}
}

.navbar-brand {
	@extend .navbar !optional;
	@include padding-top-bottom(10px);
}