@import 'variables';
@import 'mixins';
@import 'navbar';

html{
  height: 100%;
	background: rgb(228, 228, 228) url('../img/local-suburb-background.png') no-repeat bottom fixed;

}
body {
	min-height: 100vh;
	background: transparent;
	font-family: "Open Sans", "Helvetica", "Arial";
}

.mainHeader {
	background: #fff;
}

.icon-bar {
	background: #333;
}

.page-header {
	margin-top: 0;
}

.main-logo {
	margin: 100px auto 50px auto;
	text-align: center;
}

.btn-search {
	height: 40px;
	font-size: 14px;
	width: 100%;
}

.search-result-body {
	.fa {
		margin-right: 5px;
	}
}

md-card.md-default-theme {

	&.ng-enter-stagger {
		/* 200ms will be applied between each sucessive enter operation */ 
		-webkit-animation-delay: .1s;
		animation-delay: .1s;

		/* this is here to avoid accidental CSS inheritance */
		-webkit-animation-duration:0;
		animation-duration:0;
	}

	&.ng-enter {
 		-webkit-animation: fadeInUp .5s;
  		animation: fadeInUp .5s;
	}

	background: #fff;

	h2 {
		margin-top: 0;	
	}
}


.alert {
	&.no-result {
		font-size: 18px;
		margin-top: 15px;
	}
}

.nomargin {
	margin-left: 0;
	margin-right: 0;
}

.ng-enter {
	-webkit-animation: fadeInUp .5s;
  		animation: fadeInUp .5s;
}

.description {
	font-size: 13px;
	color: lighten(#000, 45%);
	margin: 15px 0;
}
.media-left {
	padding-right: 20px;
}

.alert {
    opacity: 1;
}

.alert.ng-hide {
    opacity: 0;
}

.alert.ng-hide-add,
.alert.ng-hide-remove {
    -webkit-transition: 0.5s linear all;
    transition: 0.5s linear all;
}

.registerButton {
	margin-top: 25px;
}

.loginButton {
	width: 100%;
	position: relative;
	right: 0;
}
