<section>
	<md-toolbar class="md-primary">
		<div class="container">
			<div class="row">
				<h1 class="md-toolbar-tools">
					Please Login
				</h1>
			</div>
		</div>
	</md-toolbar>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<md-content layout-padding style="padding: 24px;" id="loginForm" ng-controller="AccountController as ctrl">
					<div class="row">
						<div class="col-md-6 col-sm-12">
							<div class="alert alert-info" ng-show="logout.status">
								{{ logout.message }}
							</div>
							<form id="userLogin" name="loginForm" ng-submit="userLogin()">
								<h3>Please Login</h3>
								<div class="alert alert-danger" ng-show="login.error.status">
									<strong>Oops!</strong> {{ login.error.message }}
								</div>
								<md-input-container>
									<label>Email</label>
									<input type="email" name="email" ng-model="login.email" required ng-disabled="progress">
									<div ng-messages="loginForm.email.$error">
							          	<div ng-message="required">Please input your valid email address.</div>
							        </div>
								</md-input-container>
								<md-input-container>
									<label>Password</label>
									<input type="password" name="password" ng-model="login.password" required ng-disabled="progress">
									<div ng-messages="loginForm.password.$error">
							          	<div ng-message="required">This field is required.</div>
							        </div>
								</md-input-container>
								<md-input-container style="margin-top: 25px;">
									<div class="loading-wrapper" ng-show="progress">
										<md-progress-circular md-mode="indeterminate" style="margin: auto;"></md-progress-circular>
									</div>
									<div class="row" ng-hide="progress">
										<div class="col-sm-12 col-md-7">
											<md-button>Forgot password ?</md-button>
										</div>
										<div class="col-sm-12 col-md-5">
											<md-button type="submit" class="md-raised md-primary loginButton">Login</md-button>
										</md-input-container>
										</div>
									</div>
								</md-input-container>
							</form>
						</div>
						<div class="col-md-6 col-sm-12">
							<form id="userLogin" name="registerForm" style="border-left: 1px solid #ddd; padding: 15px;">
								<h3>Don't have an account ?</h3>
								<p>
									Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis veniam esse cum suscipit dolores ipsum, saepe enim dolorum quas, perspiciatis voluptate accusantium! Eos error dignissimos quia, soluta magni, tenetur reprehenderit!
								</p>
								<md-button ui-sref="root.register" class="md-button md-raised md-primary registerButton">Create an account</md-button>
							</form>
						</div>
					</div>
				</md-content>
			</div>
		</div>
	</div>
</section>