<section>
	<md-toolbar class="md-primary">
		<div class="container">
			<div class="row">
				<h1 class="md-toolbar-tools">
					Please Login
				</h1>
			</div>
		</div>
	</md-toolbar>
	<div class="container">
		<div class="row">
			<div class="col-md-12 col-sm-12">
				<md-content layout-padding style="padding: 24px;" id="registerForm" ng-controller="AccountController as ctrl">
					<div class="row">
						<div class="col-md-8 col-sm-12">
							<div class="alert alert-success" ng-show="registerSuccess">
								{{ registerSuccessMessage }}
							</div>
							<form id="registerForm" name="registerForm" ng-submit="userRegister()" ng-hide="registerSuccess">
								<h3>Please Register</h3>
								<div class="alert alert-danger" ng-show="register.error.status">
									<strong>Oops!</strong> {{ register.error.message }}
								</div>
								<md-input-container>
									<label>First Name</label>
									<input type="text" name="fname" ng-model="register.fname" required ng-disabled="progress">
									<div ng-messages="registerForm.fname.$error">
							          	<div ng-message="required">Please input your first name</div>
							        </div>
								</md-input-container>

								<md-input-container>
									<label>Last Name</label>
									<input type="text" name="lname" ng-model="register.lname" required ng-disabled="progress">
									<div ng-messages="registerForm.lname.$error">
							          	<div ng-message="required">Please input your last name</div>
							        </div>
								</md-input-container>

								<md-input-container>
									<label>Email</label>
									<input type="email" name="email" ng-model="register.email" required ng-disabled="progress">
									<div ng-messages="registerForm.email.$error">
							          	<div ng-message="required">Please input your valid email address.</div>
							        </div>
								</md-input-container>
								<md-input-container>
									<label>Password</label>
									<input type="password" name="password" ng-model="register.password" required ng-disabled="progress">
									<div ng-messages="registerForm.password.$error">
							          	<div ng-message="required">Please input your desired password</div>
							        </div>
								</md-input-container>

								<md-input-container>
									<label>Password Confirmation</label>
									<input type="password" name="passwordc" ng-model="register.passwordc" required>
									<div ng-messages="registerForm.passwordc.$error">
							          	<div ng-message="required">Please input your desired password confirmation</div>
							        </div>
								</md-input-container>
								<md-input-container style="margin-top: 25px;">
									<div class="loading-wrapper" ng-show="progress">
										<md-progress-circular md-mode="indeterminate" style="margin: auto;"></md-progress-circular>
									</div>
									<div class="row" ng-hide="progress">
										<div class="col-sm-12 col-md-7">
										</div>
										<div class="col-sm-12 col-md-5">
											<md-button type="submit" class="md-raised md-primary loginButton">Register</md-button>
										</md-input-container>
										</div>
									</div>
								</md-input-container>
							</form>
						</div>
					</div>
				</md-content>
			</div>
		</div>
	</div>
</section>